@import '../../index.scss';

.About {
    width: 100vw;
    height: 100vh;
    background-color: $secondaryColor;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.About h1 {
    color: $primaryColor;
    margin-top: 40px;
}

.AboutContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
}

.aboutText {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.aboutText button {
    width: 120px;
    height: 40px;
    background-color: $primaryColor;
    color: $secondaryColor;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.aboutText button:hover {
    background-color: $thirdColor;
}

.About p {
    color: $thirdColor;
    max-width: 600px;

    font-size: 24px;

}

.aboutImg {
    min-width: 324px;
    min-height: 432px;
    border: 3px solid $thirdColor;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(31, 29, 29, 0.3), rgba(63, 54, 138, 0.3)), url("../../assets/images/about.jpeg");
    background-size: cover;
    
    // position: absolute;
    // right: 150px;
    // bottom: 0;
    // top: 200px;
}
