@import '../../index.scss';

.Modal {
    width: 800px !important;
}

.Modal img {
    width: 200px;
}

.ModalLinks {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ModalLinks h3 {
    margin: 0;
}

.ModalImages {
    display: grid;
    justify-content: center;
    gap: 15px;
    grid-template-columns: repeat(auto-fill, 200px);
}

.ButtonModal {
    background-color: $primaryColor;
}

.ant-modal-title {
    font-size: 32px;
}