@import '../../index.scss';

.Contact {
    height: 450px;
    width: 100vw;
    background-color: $thirdColor;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.ContactSeparator {
    height: 180px;
    border: 2px solid $secondaryColor;
}

.ContactProfile, .ContactTech {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.ContactProfile h1, .ContactProfile h2 {
    color: $secondaryColor;
}

.image {
    background-color: black;
    width: 208px;
    height: 186px;
    border-radius: 50%;
}

.iconsContainer {
    font-size: 24px;
    color: white;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.iconsContainerTech {
    font-size: 40px;
    cursor: unset;
}

.iconsContainer a {
    color: white;
}