@import '../../index.scss';

* {
    margin: 0;
    box-sizing: border-box;
}

.homeContainer {
    background: linear-gradient(180deg, rgba(20, 44, 80, 0) 54.69%, rgba(20, 44, 80, 0.71) 78.65%), url("../../assets/images/background.jpeg") no-repeat center;
    background-size: cover;
    position: relative;
    height: 100vh;
    background-color: $primaryColor;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    max-width: 1500px;

    position: relative;
}

.homeContent {
    display: flex;
    justify-content: space-around;
    margin-bottom: 6vh;
}

.homeContainer p {
    font-size: 58px;
    color: #FFFFFF;
    line-height: 72px;

    width: 70vw;
    font-weight: 500;
    margin: 0 0 5vh 5vw;
}

.HomeIcons {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 40px;

    position: absolute;
    right: 3vw;
    bottom: 10vh;
}

.HomeIcons a {
    color: white;
}
