@import '../../index.scss';

.Footer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444444;
    color: $secondaryColor;
    gap: 5px;
}

.Footer p {
    margin: 0;
}