@import '../../index.scss';

.Portfolio {
    background-color: $primaryColor;
}

// .Intro {
//     height: 400px;

//     display: flex;
//     align-items: flex-end;
    
// }

.Intro h1 {
    margin-bottom: 40px;
    font-size: 60px;
    color: rgb(222, 218, 218);
}

.Projects {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 100px 0;
}